@import'./commons.scss';


.SideBarMenuItemView {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 1px 5px;

    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px;
        width: 100%;
        border-radius: 5px;

        .ItemContent {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            @include transition(width);

            .icon {
                width: 32px;
                height: 32px;
            }

            .label {
                font-weight: 500;
                font-size: 12px;
                margin-left: 10px;
                overflow: hidden;
            }
        }

        .ItemContentcollapsed {
            width: 35px;

            display: flex;
            // flex-direction: row;
            // align-items: center;
            overflow: hidden;
            // white-space: nowrap;
            // @include transition(width);

            .icon {
                width: 38px;
                height: 38px;
                margin-right: 5px;
            }
        }

        &:hover {
            background-color: #DCE3EB;
            color: rgb(0, 0, 0);
        }

        &:hover {
            &+.tooltip {
                display: inline-block;
                animation-duration: 0.7s;
                animation-name: tooltip;
            }
        }

    }


    .tooltip {
        position: absolute;
        background-color: black;
        left: 70px;
        // width: 100%;
        min-width: 115px;
        padding: 7px;
        border-radius: 4px;
        text-transform: capitalize;
        display: none;
        font-size: 13px;
    }
}

@keyframes tooltip {
    from {
        opacity:
            0;
    }

    to {
        opacity: 1;
    }
}