@import'./commons.scss';

.layoutP {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "header" auto "main" 1fr "footer" auto / 1fr;
  // gap: 8px;
}


.headerP {
  grid-area: header;
  height: 55px;
  width: 100%;
  position: fixed;
  background-color: #B0252A;
  z-index: 1000;
}

.mainP {
  grid-area: main;
  padding-top: 50px;
}

.footerP {
  grid-area: footer;
}

.layoutHead {
  width: 100%;
  height: auto;
  display: flex;
  gap: 16px;
}

.grow1Head {
  flex-grow: 1;
  height: 55px;
  display: flex;
  align-items: center;
}


.header-logo img {
  display: block;
  height: 45px;
}

.layoutS {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr / auto 1fr;
  gap: 8px;
}

.sidebarS {
  grid-area: sidebar;
  width: 50px;
}

.bodyS {
  grid-area: body;
  display: grid;
  place-items: center;
}

//SIDEBAR

.SideBarMenuexpanded {
  position: fixed;
  @include transition(width);
  width: 230px;
  background-color: #222;
  color: white;
  padding-top: 25px;
  // left: 0;
  // bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 998;
}

.SideBarMenucollapsed {

  // Incluye el mixin para la transición
  position: fixed;
  @include transition(width);
  width: 60px;
  background-color: #222;
  color: white;
  // left: 0;
  // bottom: 0;
  padding-top: 25px;

  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 998;
  /* Un valor alto para asegurarse de que esté delante de otros elementos */

}

.menuScrollexpanded {
  overflow: auto;
  height: 73%;
  padding-bottom: 20px;
}

.menuScrollcollapsed {
  overflow: auto;
  height: 82%;
  padding-bottom: 20px;

}

.menuScrollexpanded::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.menuScrollexpanded::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

.menuScrollcollapsed::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

.menuScrollcollapsed::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 8px;
}

// .exitcollapsed {
//   display: grid;
//   place-items: center;
//   text-align: center;
//   padding-bottom: 16px;
//   padding-top: 5px;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   overflow: hidden;
// }

// .exitexpanded {
//   display: grid;
//   place-items: center;
//   text-align: center;
//   padding-bottom: 10px;
//   padding-top: 5px;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   overflow: hidden;
// }

.exit {
  display: block;
  // display: grid;
  // place-items: center;
  // text-align: center;
  // padding-bottom: 10px;
  // padding-top: 5px;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // overflow: hidden;
}


.menuButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .hamburgerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FF4141;
    color: white;
    padding: 2px;
    width: 50px;
    font-size: 15px;

    &:hover {
      background-color: #b3b3b3;
      color: rgb(0, 0, 0);
    }
  }


}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 15px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 50%;

  transition-duration: .3s;
  padding-right: 75px;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}